<header>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Customers 🧔</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="opcionSeleccionado" (change)="getOrderCustomer()">
         <option *ngFor="let modelCustomer of listModelCustomer" [ngValue]="modelCustomer.customerId">{{modelCustomer.name}}</option> 
    </select>
  </div>
</header>
<section>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Creation Date</th>
      <th scope="col">Order ID</th>
      <th scope="col">Total $</th>
      <th scope="col">Delivery Address</th>
    <th scope="col">Products</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let modelOrderCustomerProduct of listModelOrderCustomerProduct | slice: (page-1) * pageSize : page * pageSize">
      <td>{{modelOrderCustomerProduct.creationDate}}</td>
      <td>{{modelOrderCustomerProduct.orderId}}</td>
      <td>{{modelOrderCustomerProduct.total}}</td>
      <td>{{modelOrderCustomerProduct.deliveryAddress}}</td>
      <td *ngIf="modelOrderCustomerProduct.listProductDetailString.length == 0; else noAccessTypes"></td>
      <ng-template #noAccessTypes>
          <td>
            <p  *ngFor="let product of modelOrderCustomerProduct.listProductDetailString">
            {{product}}
            </p>
          </td>
        </ng-template>
      </tr> 
    </tbody>
  </table>
  <ngb-pagination
[(page)]="page"
[pageSize]="pageSize"
[collectionSize]="listModelOrderCustomerProduct.length"></ngb-pagination>
</section>

